body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
}
.highlight-color{

    color: orange;
}
.width-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.width-half img{
    width: 100%;
}
.width-area{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
}
